{% extends 'base.html' %}
{% block title %}
<title>Букинги</title>
{% endblock %}

{% block main_content %}
<div class="main-content">
    <div class="upside">
        <div class="header">
            <h1>Букинги: {{ bookings_count }}</h1>
            <div class="search-container">
                <button class="refresh" style="padding-bottom: 5px;">⟳</button>
                <div class="input-container">
                    <input type="text" id="filter-booking-number" class="search-input" placeholder="Номер букинга" style="font-size: 14px;" size="30">
                </div>
                <button class="filter" style="margin-left: 5px;" onclick="toggleFilter()">
                    <img src="{{ url_for('static', filename='pics/filter.png') }}" width="29" height="29" alt="Filter">
                </button>
                <div class="filter-container" id="filter-container">
                    <input type="text" id="filter-notes" placeholder="Заметки">
                </div>
                <div class="profile"></div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th style="width: 260px;">Номер букинга</th>
                    <th>Заметки</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr data-number="{{ booking.number }}">
                    <td style="width: 260px;">{{ booking.number }}</td>
                    <td>{{ booking.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <button class="add">+ Добавить</button>
        <button class="delete">✖ Удалить</button>
        <button class="edit">✏ Изменить</button>
        <button class="inventory">𖡤 Добавить из таблицы</button>
    </div>

    <!-- Модальные окна -->
    <div class="modal" id="add-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Добавить букинги</h2>
                <button class="close">×</button>
            </div>
            <div class="modal-body">
                <label for="booking-numbers">Номера букингов (по одному на строку или через запятые)</label>
                <textarea id="booking-numbers" placeholder="Введите номера букингов" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button class="cancel">Отмена</button>
                <button class="save">Сохранить</button>
            </div>
        </div>
    </div>

    <div class="modal" id="delete-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Удалить букинги</h2>
                <button class="close">×</button>
            </div>
            <div class="modal-body">
                <label for="delete-booking-numbers">Номера букингов (по одному на строку или через запятые)</label>
                <textarea id="delete-booking-numbers" placeholder="Введите номера букингов" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button class="cancel">Отмена</button>
                <button class="save">Удалить</button>
            </div>
        </div>
    </div>

    <div class="modal" id="edit-numbers-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Выбор букингов для редактирования</h2>
                <button class="close">×</button>
            </div>
            <div class="modal-body">
                <label for="edit-booking-numbers">Номера букингов (по одному на строке или через запятые)</label>
                <textarea id="edit-booking-numbers" placeholder="Введите номера букингов" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button class="cancel">Отмена</button>
                <button class="next">Далее</button>
            </div>
        </div>
    </div>

    <div class="modal" id="edit-data-modal">
        <div class="modal-content" style="max-width: 1200px; width: 95%;">
            <div class="modal-header">
                <h2>Редактирование букингов</h2>
                <button class="close">×</button>
            </div>
            <div class="modal-body">
                <div class="checkbox-container">
                    <input type="checkbox" id="same-data-checkbox" class="custom-checkbox" style="width: 25px; margin-top: 15px;">
                    <label for="same-data-checkbox">Применить одинаковые данные ко всем букингам</label>
                </div>
                <div class="edit-table-wrapper">
                    <table class="edit-table">
                        <thead>
                            <tr>
                                <th>Номер букинга</th>
                                <th>Заметки</th>
                            </tr>
                        </thead>
                        <tbody id="edit-table-body"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div id="error-message"></div>
                <button class="cancel">Отмена</button>
                <button class="save">Сохранить</button>
            </div>
        </div>
    </div>

    <div class="modal" id="inventory-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Добавить из таблицы</h2>
                <button class="close">×</button>
            </div>
            <div class="modal-body">
                <label for="inventory-file">Загрузите Excel файл (номера букингов в первом столбце)</label>
                <input type="file" id="inventory-file" accept=".xlsx, .xls">
            </div>
            <div class="modal-footer">
                <button class="cancel">Отмена</button>
                <button class="save">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div id="notes-popup" class="notes-popup">
    <textarea id="notes-popup-text" readonly></textarea>
</div>
{% endblock %}